div{
width: 100%;
height: 50px;
}
.txtdica{
color: white;
}
.pesquise{
margin-left: 50%
}
h1{
color: white;
}
.txtlogin{
Color:#00E6E4
}
.txtcadastro{
Color:#00E6E4
}
h2{
font: normal bold 50px arial, sans-serif;
Color: white;
}
h6{
font: normal bold 20px arial, sans-serif;
Color: white;
}
.botao{
text-align: center;
}