
div{
width: 100%;
height: 50px;
}
.txtdica{
color: white;
}
.pesquise{
margin-left: 50%
}
h1{
color: white;
}
.txtlogin{
Color:#00E6E4
}
.txtcadastro{
Color:#00E6E4
}
h2{
font: normal bold 10px arial, sans-serif;
Color: white;
}
h3{
text-align: center;
font: normal bold 40px arial, sans-serif;
Color: white;
}
h17{
font: normal bold 20px arial, sans-serif;
Color: white;
}
h4{
font: normal bold 10px arial, sans-serif;
Color: white;
}
h5{
font: normal bold 10px arial, sans-serif;
Color: white;
}
h6{
font: normal bold 10px arial, sans-serif;
Color: white;
}
h16{
font: normal bold 10px arial, sans-serif;
Color: white;
}
#cartaz{
margin-left: 60%;
heigth: 30%;
}
div{
width: 100%;
height: 50px;
}
.txtroda{
font: normal bold 10px arial, sans-serif;
Color: white;
}
.filme1{
margin-left: 50%
}
.filme2{
margin-left: 55%
}
.filme3{
margin-left: 60%
}
.filme4{
margin-left: 65%
}
.filme5{
margin-left: 70%
}
.filme6{
margin-left: 75%
}
.txtwill{
font: normal bold 10px arial, sans-serif;
Color: white;
}
.nada{
width: 15%;
}
.vazio{
width: 10%;
}
.vazio1{
width: 3%;
}
.des{
margin-left:13%
}
.vazio12{
width: 9%;
}
#slide{
width: 960px;
height: 510px;
margin-left: 25%;
}
















































































